---
import Layout from "../layouts/Layout.astro";
import TextContainer from "../components/text_container.astro";
import MockupContainer from "../components/mockup_container.astro";
---

<Layout title="Interview">
  <main
    class="flex flex-col space-y-12 bg-background md:flex-row md:h-screen md:space-y-0"
  >
    <TextContainer />
    <MockupContainer />
  </main>
</Layout>
