---
import logoImage from '../assets/logo_background.png'; 
---

<div class="app-bar">
  <img 
  class="logo"
  src={logoImage} 

    alt="logo">
  <h2>Interview</h2>
</div>
<style>
  .app-bar {
    height: 56px;
    display: flex;
    align-items: center;    
  }

  .logo {
    height: 36px;
    width: 36px;
    object-fit: cover;
    margin-inline: 12px;
    border-radius: 8px;
  }
</style>

<!-- <template>
  <header
    class="w-full h-14 flex items-center justify-between px-5 bg-background"
  >
    <router-link to="/">
      <span class="flex items-center space-x-4">
        <img
          src="../assets/logo_background.png"
          alt="logo-image"
          class="h-9 w-9 rounded-lg object-cover"
        />
        <h2 class="text-xl tracking-wide font-semibold">Interview</h2>
      </span>
    </router-link>
  </header>
</template> -->
