---
import logoImage from "../assets/logo_background.png";
---


<!-- ! todo make app bar absolute  -->

<a href="/" target="_blank" rel="noopener noreferrer">
  <div class="flex items-center space-x-3 p-4 bg-background">
    <img
      src={logoImage}
      alt="interview-logo"
      class="h-9 w-9 rounded-lg object-cover shadow"
    />
    <h2 class="text-xl font-bold">Interview</h2>
  </div>
</a>
