---
import logoImage from "../assets/logo_background.png";
---

<!-- !seo integration? -->
<div class="h-full flex flex-col p-4 space-y-12">
  <!-- header text -->
  <div class="flex flex-col space-y-6 md:p-4">
    <p class="text-5xl font-bold uppercase md:text-6xl lg:text-7xl xl:text-8xl">
      the <br /> social <br />questions <br /> app
    </p>

    <p class="text-lg md:text-xl lg:text-2xl">
      Was denken die anderen? Starte schnelle Umfragen. Stoße neue Gedanken an.
    </p>
  </div>

  <!-- <div class="flex flex-row items-center space-x-5">
    <a href="https://interview-app.com" target="_blank">
      <img
        src="../assets/app_store_badge_1.png"
        alt="Download Interview on the App Store"
        class="w-40"
      />
    </a>

    <a href="https://interview-app.com" target="_blank"
      ><img
        alt="Get Interview on Google Play"
        src="../assets/google-play-badge.png"
        class="w-48"
      />
    </a>
  </div> -->
</div>
