---
import mockup from "../assets/interview_trailer.mp4";
---

<div class="w-full h-full flex justify-center  md:w-1/2">
  <video class="md:rounded-xl md:shadow " src={mockup} autoplay loop></video>
</div>
