---
import logoImage from "../assets/logo_background.png";
---

<div
  class="w-full h-full flex flex-col p-4 space-y-12 md:w-1/2 md:items-center md:justify-center"
>
  <div
    id="headline"
    class="flex flex-col space-y-1.5 text-5xl font-bold uppercase md:text-6xl lg:text-7xl xl:text-8xl"
  >
    <p>
      the <br /> social <br />questions <br /> app
    </p>
  </div>

  <p>jsdfhshfshfjsdjsfhsfjhjsfsjfsfjsjfhsjfs</p>

  <!-- <div class="flex flex-row items-center space-x-5">
    <a href="https://interview-app.com" target="_blank">
      <img
        src="../assets/app_store_badge_1.png"
        alt="Download Interview on the App Store"
        class="w-40"
      />
    </a>

    <a href="https://interview-app.com" target="_blank"
      ><img
        alt="Get Interview on Google Play"
        src="../assets/google-play-badge.png"
        class="w-48"
      />
    </a>
  </div> -->
</div>

<style>
  #headline {
    font-family: "Readex Pro", sans-serif;
  }
</style>
